<head>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.0.0.min.css">
	<%= stylesheet_link_tag 'custom', :media => 'screen' %>
</head>


<div id="BTF_Wrapper">
<div class="row">
	<div class="span8 columns">
		<div id="BTF_FB_Signup">
		<%= link_to 'Sign Up with Facebook', '#' %>
		</div>
	</div>
	<div class="span8 columns">
	asdfasdf
	</div>	






	
	
	
</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
